.container{
    max-width: 700px;
    margin: auto;
}
.list-item {
    border: 1px solid black;
    margin: 30px;
    display: flex;
    
}

.lists {
    display: flex;
    flex-direction: column;
}

.list-photo {
    padding: 5px;
}